* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Kumbh Sans", sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;500&display=swap");

:root {
  --Orange: hsl(26, 100%, 55%);
  --PaleOrange: hsl(25, 100%, 94%);
  --Very-vark-blue: hsl(220, 13%, 13%);
  --Dark-grayish-blue: hsl(219, 9%, 45%);
  --Grayish-blue: hsl(220, 14%, 75%);
  --Light-grayish-blue: hsl(223, 64%, 98%);
  --White: hsl(0, 0%, 100%);
  --Black/*(with 75% opacity for lightbox background)*/: hsl(0, 0%, 0%);
}

p {
  font-size: 1.6rem;
  color: var(--Dark-grayish-blue);
  line-height: 25px;
}

h4 {
  font-size: 1.3rem;
  color: var(--Orange);
}

h2 {
  margin: 17px 0;
  font-size: 2.5rem;
  color: var(--Black);
}

#div {
  background-color: transparent;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  position: fixed;
  background-blend-mode: darken;
  pointer-events: none;
  transition-duration: 0.5s;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 9px 24px;
}

.nav--menu img:first-child {
  margin-right: 25px;
}

.nav--profile img:first-child {
  width: 25px;
  margin-right: 25px;
}

.nav--profile img:nth-child(2) {
  width: 29px;
}
.nav img:first-child {
  display: block;
  margin-bottom: 50px;
}

.nav {
  top: 0;
  left: -240px;
  position: fixed;
  padding: 24px;
  z-index: 1000;
  width: 238px;
  height: 100vh;
  background-color: var(--White);
}

.navbar--items {
  list-style: none;
  font-weight: bold;
  font-size: 3rem;
}

.navbar--items li {
  margin: 24px 0;
}

.slider {
  height: 240px;
}

.slider > img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.slider--arrows {
  display: flex;
  position: absolute;
  width: 100vw;
  height: 240px;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.slider--arrows img {
  background-color: var(--White);
  border-radius: 100%;
  padding: 12px;
}


.product-section--text {
    padding: 21px;
}